/*Código armado por La Foca Loca S.A. No modificar*/
body {
  font-family: Verdana;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../images/adventure.jpg);
}
ul {
  padding-left: 0;
  list-style: none;
}
li {
  padding: 5px 0;
  animation: fadein 5s;
}
li::before {
  content: "• ";
  color: #EC6778;
}

#titulo h1 {
  font-style: Verdana;
  background-color: #EC6778;
  color: floralwhite;
  text-align: center;
  margin-top: -5px;
}

.col-40 h1 {
  font-size: 20px;
  color: #E84A5F;
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}
.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
  width: 300px;
}

.col-60 {
  background-color: #E84A5F;
}

#flecha{
  font-size: 60px;
}

.texto-centrado {
  text-align: center;
}

#juego div {
  text-align: center;
  animation: fadein 2s;
}

#juego {
  width: 600px;
  height: 600px;
}

#objetivo img {
  height: 60%;
  width: 60%;
  margin-left: 50px;
}

.piezas img {
  width: 33%;
  height: 33%;
  float: left;
  border: 1px solid green;
}

#pieza9 img {
  visibility: hidden;
}

#footer{
  height: 10%;
  background-color: gray;
  display: flex;
  justify-content: center;
}

#footer h1 {
  font-style: Verdana;
  font-size: 15px;
  color: black;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
